
@font-face {
	font-family: Blood;
  src: url(../font/BLOODWAX.TTF);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: "Ubuntu", sans-serif;
	background-color: white;
  overflow: hidden;
  overflow-x:hidden;
}

body, html {
	height: 100%;
	min-height: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.cd-section {
	min-height: 100vh;
  position: relative;
  height: 100vh;
  width: 100%;
}

.cd-section p, .cd-section1 p {
	color: #fff;
	font-size: 25px;
}

.cd-section1 {
	background: linear-gradient(-30deg, #1ec4e9 0%,#673ab7 50%,#262626 50%,#607d8b 100%);
}

.cd-section1 p {
	text-align: center;
	margin: 10px 0 0;
	font-size: 1.25rem;
	line-height: 1.1;
}

.cd-section1 div {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: 620px;
}

.cd-section2 .wrapper {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	transform-style: preserve-3d;
}

.cd-section .wrapper, .cd-section h1 {
	position: absolute;
	left: 50%;
	top: 50%;
	bottom: auto;
	right: auto;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	width: 90%;
	max-width: 768px;
	text-align: center;
}

.cd-section h1 {
	color: #00aff0;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 20px;
	font-size: 1.25rem;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.cd-section p, .cd-section1 p {
	line-height: 1.6;
}

.swiper-main-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.main.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #111;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#section2 {
  background: url(../images/inspiration-geometry.png);
}

.services-wrapper{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.services-wrapper .swiper-slide {
  background: transparent;
  background-position: center;
  background-size: cover;
  min-height: 350px;
  background: #fff;
  margin: 0 20px;
  width: 350px;
}

.services-wrapper .box{
  width: 100%;
  position: relative;
  background: #f7f7f7;
  padding: 80px 40px 20px;
  box-shadow: 0 15px 45px rgba(0,0,0,0.1);
  text-align: left;
}

.services-wrapper .box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff226d;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}

.services-wrapper .box:hover::before{
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.services-wrapper .box h2{
  position: absolute;
  left: 40px;
  top: 40px;
  font-size: 4em;
  font-weight: 800;
  z-index: 1;
  opacity: 0.1;
  transition: 0.5s;
}

.services-wrapper .box:hover h2{
  opacity: 1;
  color: #fff;
  transform: translateY(-40px);
}

.services-wrapper .box h3{
  position: relative;
  font-size: 1.5em;
  z-index: 2;
  color: #333;
  transition: .5s;
}

.services-wrapper .box p{
  position: relative;
  z-index: 2;
  color: #555;
  transition: .5s;
  font-size: 1rem;
}

.services-wrapper .box:hover h3, .services-wrapper .box:hover p{
  color: #fff;
}

.logo {
	position: relative;
	padding: 25px 100px 5px 120px;
	text-decoration: none;
	color: #fff;
	font-size: 150px;
	font-family: "Blood";
	text-transform: uppercase;
	letter-spacing: 4px;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}

.logo:hover {
	text-decoration: none;
	color: #fff;
}

.logo:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,.1);
}

.logo:after {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg,transparent,rgba(255,255,255,.4), transparent);
	transition: 0.5s;
	transition-delay: 0.5s;
}

.logo:hover:after {
	left: 100%;
}

.logo span {
	position: absolute;
	display: block;
	transition: 0.5s ease;
}

.logo span:nth-child(1) {
	top: 0;
	left: 0;
	width: 0;
	height: 1px;
	background: #fff;
}

.logo:hover span:nth-child(1) {
	width: 100%;
	transform: translateX(100%);
}

.logo span:nth-child(3) {
	bottom: 0;
	right: 0;
	width: 0;
	height: 1px;
	background: #fff;
}

.logo:hover span:nth-child(3) {
	width: 100%;
	transform: translateX(-100%);
}

.logo span:nth-child(2) {
	top: 0;
	left: 0;
	width: 1px;
	height: 0;
	background: #fff;
}

.logo:hover span:nth-child(2) {
	height: 100%;
	transform: translateY(100%);
}

.logo span:nth-child(4) {
	bottom: 0;
	right: 0;
	width: 1px;
	height: 0;
	background: #fff;
}

.logo:hover span:nth-child(4) {
	height: 100%;
	transform: translateY(-100%);
}

.wrapper .card {
	position: relative;
	width: 260px;
	height: 300px;
	background: #fff;
	margin: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	box-shadow: 0 5px 15px rgba(0,0,0,0.1);
	transition: 0.5s;
	overflow: hidden;
	transform-style: preserve-3d;
	cursor: pointer;
}

.wrapper:hover .card {
	transform: perspective(500px) rotateY(30deg);
}

.wrapper .card:hover {
	transform: perspective(500px) rotateY(0deg);
}

.wrapper .card:hover ~ .card {
	transform: perspective(600px) rotateY(-30deg);
}

.wrapper .card h2 {
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-size: 3em;
	background: #323232;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	transition: box-shadow 0.5s;
	cursor: pointer;
}

.wrapper .card h2:hover {
	background: #fff;
	color: #323232;
	box-shadow: 0 0 0 160px #323232;
}

/* Testimonials */

#section4{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/dark-mosaic.png);
}

.testimonials{
  position: relative;
  max-width: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009);
  padding: 0 100px;
}

.swiper-container{
  width: 100%;
}

.testimonials .swiper-slide{
  background-position: center;
  background-size: cover;
  width: 350px;
  min-height: 350px;
  background: #fff;
  margin: 0 20px;
}

.testimonials .card{
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #f7f7f7;
  padding: 60px 40px;
  text-align:center;
  overflow: hidden;
  border: none;
  border-radius: 0px;
}

.testimonials .card .layer{
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#03a9f4, #e91ee3);
  z-index: 1;
  transition: 0.5s;
}


.testimonials .card:hover .layer{
  top: 0;
}

.testimonials .card .content{
  position: relative;
  z-index: 2;
}

.testimonials .card .content p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #111;
  transition: 0.5s;
}

.testimonials .card .content .img-box{
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.testimonials .card .content .img-box img{
  height: 100%;
  object-fit: cover;
}

.testimonials .card .content h2{
  font-size: 18px;
  color: #111;
  transition: 0.5s;
}

.testimonials .card .content h2 span{
  color: #03a9f4;
  font-size: 14px;
  transition: 0.5s;
}

.testimonials .card:hover .content h2 span, .testimonials .card:hover .content h2,.testimonials .card:hover .content p{
  color: #fff;
}

/*CONTACT PAGE*/

.form{
    width: 100%;
    height: auto;
}

#section6{
  position: relative;
  justify-content: space-evenly;
  flex-direction: column;
}

#section6::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/pexels-pixabay-302769.jpg);
  background-size: cover; 
  opacity: 0.1;
}

.swiper-pagination-bullet{
  background: #fff;
}

.swiper-pagination-bullet-active{
  background: #ff226d;
}

.contact-head-wrap{
  max-width: 60%;
}

.contact-head-wrap h4{
  font-size: 2.2rem;
  color: #fff;
  font-weight: 400;
}

.contact-head-wrap p{
  font-size: 1rem;
  margin: 0;
}

.contact-wrapper{
  justify-content: space-evenly;
}

.right-wrapper{
  background: rgba(0,0,0,0.3);
  text-align: left;
  padding: 3rem;
  min-width: 300px;
  width: 100%;
  max-width: 500px;
  z-index: 1;
}

.right-wrapper h2{
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
}

.right-wrapper form input[type=text], .right-wrapper form input[type=password]{
  display: block;
  background: transparent;
  border: none;
  border-radius: 0px;
  border-bottom: 2px solid #fff;
  box-shadow: none;
  color: #fff;
  font-size: 1rem;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
  padding: 0px;
}

.form-group{ 
  position:relative; 
}

.right-wrapper form label{
  color:#fff; 
  font-size:1rem;
  font-weight:400;
  position:absolute;
  pointer-events:none;
  top:8px;
  transition:0.4s ease all; 
  -moz-transition:0.4s ease all; 
  -webkit-transition:0.4s ease all;
}

.right-wrapper form input:focus ~ label, .right-wrapper form input:valid ~ label {
  top:-13px;
  font-size:.85rem;
  color: #ff226d;
}

.right-wrapper form input[type=submit]{
  font-size: 1rem;
  padding: .5rem 1.7rem;
  text-transform: capitalize;
  background: #ff226d;
  color: #fff;
  border:none;
  font-weight: 400;
  transition: .3s ease all;
  -webkit-transition: .3s ease all;
  -moz-transition: .3s ease all;
}

.right-wrapper p{
  font-size: 0.8rem;
}

.right-wrapper p a{
  color: #FC8019;
  text-decoration: none;
}

.social-icons-wrap{
  background: transparent;
  max-width: 450px;
  width:100%;
  z-index: 1;
}

.ul1, .ul2{
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.ul1 li, .ul2 li{
    margin: 35px auto;
}   

.fab{
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    transition: 0.5s;
}

.social-buttons{    
    display: block;
    width: 80px;
    height: 80px;
    background: rgba(0,0,0,0.3);
    text-align: center;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
    box-shadow: -20px 20px 10px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.social-buttons:before{
    content: "";
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: rgba(0,0,0,0.3);
    transition: 0.5s;
    transform: rotate(0deg) skewY(-45deg);
}

.social-buttons:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    transition: 0.5s;
    transform: rotate(0deg) skewX(-45deg);
}

.social-buttons:hover{
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px,-20px);
    box-shadow: -50px 50px 50px rgba(0,0,0,0.5);
}

.ul1 li:hover .fab , .ul2 li:hover .fab{
    color: #fff;
} 

.ul1 li:hover:nth-child(1) a{ 
    background: #3b5999;
}

.ul1 li:hover:nth-child(1) a:before{ 
    background: #2e4a86;
}

.ul1 li:hover:nth-child(1) a:after{ 
    background: #4a69ad;
}

.ul1 li:hover:nth-child(2) a{ 
    background: #55acee;
}

.ul1 li:hover:nth-child(2) a:before{ 
    background: #4184b7;
}

.ul1 li:hover:nth-child(2) a:after{ 
    background: #4d9fde;
}

.ul2 li:hover:nth-child(1) a{ 
    background: #e4405f;
}

.ul2 li:hover:nth-child(1) a:before{ 
    background: #d02d4c;
}

.ul2 li:hover:nth-child(1) a:after{ 
    background: #f1395c;
}

.ul2 li:hover:nth-child(2) a:before{ 
    background: #035aa0;
}

.ul2 li:hover:nth-child(2) a:after{ 
    background: #0d82bf;
}

.ul2 li:hover:nth-child(2) a{ 
    background: #0077b5;
}

/* Arrows */

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #fff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 1s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.social-icons-mobile{
  display: none;
}

@media(max-width: 991px){
  .testimonials{
    padding: 0 1.5rem;
  }
  .social-icons-wrap{
    display: none;
  }
  .contact-head-wrap{
    max-width: 100%;
  }
  .social-icons-mobile{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-icons-mobile li{
      display: inline-block;
      margin-right: 15px;
  }
  .social-icons-mobile li a img{
      transform: scale(0.5);
      filter: invert(1);
  }

}

@media(max-width: 767px){
  .logo{
    font-size: 110px;
    width: 100%;
    padding: 40px 0 20px;
    text-align: center;
  }
}

@media(max-width: 555px){
  .right-wrapper{
    padding:2rem;
  }
}